<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo</title>
  </head>
  <body>
    <section class="content">
      {% if results %}
      <table>
        <tr>
          <th>Question</th>
          <th>Answer</th>
        </tr>
        {% for result in results %}
        <tr>
          <td>{{ result[0] }}</td>
          <td>{{ result[1] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </section>
  </body>
</html>
